* {
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
}

.bt-pri {
    border-radius: 8px;
    background: #E55473;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
    border: none;
}

/* header design */
header {
    background-color: rgba(229, 84, 115, 0.10);
    /* margin-top: 0px; */
    display: flex;
    gap: 50px;
    padding: 50px 140px 0px;
}

header h2 {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 100px;
}

header img {
    width: 400px;
    height: 600px;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */
}

.header-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 600px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
}

/* featured design */
section {
    margin: 100px 120px;
}

.feat-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.feat-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 170px;
    margin-bottom: 35px;
}

.feat-img {
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 0px;
}

.pink-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 150px 40px 50px;
    width: 60%;
    margin-bottom: 15px;
}

.pink-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 40px 50px;
    width: 64%;
    margin-bottom: 15px;
}

.pink-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 90px 40px 50px;
    width: 60%;
    margin-bottom: 15px;
}

.extra-cont {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    gap: 70px;
    padding: 85px 120px;
}

.extra {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/* hot deals */
.hot-deals {
    display: flex;
    padding: 100px 150px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    gap: 70px;
}

.h-d-text {
    text-align: center;
}

.h-d-t-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.h-d-t-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 25px;
}
/* insta design */

.insta-text{
    text-align: center;
}
.insta-title{
    color: #272727;
    font-size: 40px;
font-weight: 800;
margin-bottom: 20px;
}
.insta-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
font-weight: 400;
padding: 0px 200px;
margin-bottom: 48px;
}
.insta-img{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 94%;
}
.insta-img> img{
    width: 25%;
}
/* latest deals */
.latest-deals{
    background-image: url('Rectangle\ 9.png');
    padding: 100px 150px;
}
form{
    display: flex;
    gap: 15px;
    justify-content: center;
}
input[type="email"]
{
    border: none;
    border-radius: 8px;
background: #FFF;
padding: 20px;
width: 300px;
}
/* extra */
.cus-feedback{
    text-align: center;

}
.name{
    font-weight: bold;
    margin-bottom: 40px;
}
/* footer */
footer{
    background-color: #111010;
    text-align: center;
    padding: 120px 350px;
}
.ft-title{
    font-size: 48px;
font-weight: 800;
color: white;
margin-bottom: 20px;
}
span{
    color: #E55473;
}
.ft-des{
    color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-weight: 400;
margin-bottom: 30px;
}
small{
    color: rgba(255, 255, 255, 0.40);
font-size: 16px;
font-weight: 400;
}